@model allinfo.Models.Writer

@{
    ViewData["Title"] = "Delete";
}

<div style="padding: 0 15px 0 15px;">
    <h1>Delete</h1>
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Writer</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd> 
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DOB)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DOB)
            </dd>
        </dl>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?')" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>